.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  position: absolute;
  top: 200px;
  color: white;
}
.hero-text img {
  width: 500px;
}
.featured-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 2rem;
}
.square {
  width: 200px;
  height: 200px;
}
